%header
  .HeaderContents
    .HeaderContents-HeaderTopSide
      .HeaderContents-HeaderTopSide--TopLogo
      = link_to(image_tag('merukari-header-logo.svg', size: '136x36', border: 0), '#', popup: true)

        
      .HeaderContents-HeaderTopSide--form
        %form.HeaderContents-HeaderTopSide--form1{action: "#", method: "get"}
          %input.HeaderContents-HeaderTopSide--box1{name: " ", placeholder: "何かお探しですか？", type: "text"}/
          %button.btn{type: "submit"}
            %i.fa.fa-search{"aria-hidden" => "true"}


            
    .HeaderContentsHeaderBottomSide
      .HeaderContentsHeaderBottomSide-BottomLeft
        .HeaderContentsHeaderBottomSide-BottomLeft__category
          %i.fa.fa-list-ul.my-red{"aria-hidden" => "true"}
          = link_to("カテゴリーから探す", "#") 
        .HeaderContentsHeaderBottomSide-BottomLeft__brand
          %i.fa.fa-tags.my-red{"aria-hidden" => "true"}
          = link_to("ブランドから探す", "#")
      .HeaderContentsHeaderBottomSide-BottomRight
        %ul.HeaderContentsHeaderBottomSide-BottomRight__UserContents
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-like
            %i.fa.fa-heart{"aria-hidden" => "true"}
            = link_to("いいね一覧", "#")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-news
            %i.fa.fa-bell{"aria-hidden" => "true"}
            = link_to("お知らせ", "#")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-todo
            %i.fa.fa-check{"aria-hidden" => "true"}
            = link_to("やることリスト", "#")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-mypage
            = image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",size: '32x32',class: "mypage-image"
            %p#mypage
              = link_to "マイページ", users_mypage_path