%header
  .HeaderContents
    .HeaderContents-HeaderTopSide
      .HeaderContents-HeaderTopSide--TopLogo
      = link_to(image_tag('merukari-header-logo.svg', size: '136x36', border: 0), 'http://www.yahoo.co.jp', popup: true)

        
      .HeaderContents-HeaderTopSide--form
        %form.HeaderContents-HeaderTopSide--form1{action: "自分のサイトURL", method: "get"}
          %input.HeaderContents-HeaderTopSide--box1{name: " ", placeholder: "何かお探しですか？", type: "text"}/
          %button.btn{type: "submit"}
            %i.fa.fa-search{"aria-hidden" => "true"}


            
    .HeaderContentsHeaderBottomSide
      .HeaderContentsHeaderBottomSide-BottomLeft
        .HeaderContentsHeaderBottomSide-BottomLeft__category
          %i.fa.fa-list-ul.my-red{"aria-hidden" => "true"}
          = link_to("カテゴリーから探す", "http://google.co.jp") 
        .HeaderContentsHeaderBottomSide-BottomLeft__brand
          %i.fa.fa-tags.my-red{"aria-hidden" => "true"}
          = link_to("ブランドから探す", "http://google.co.jp")
      .HeaderContentsHeaderBottomSide-BottomRight
        %ul.HeaderContentsHeaderBottomSide-BottomRight__UserContents
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-like
            %i.fa.fa-heart{"aria-hidden" => "true"}
            = link_to("いいね一覧", "http://google.co.jp")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-news
            %i.fa.fa-bell{"aria-hidden" => "true"}
            = link_to("お知らせ", "http://google.co.jp")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-todo
            %i.fa.fa-check{"aria-hidden" => "true"}
            = link_to("やることリスト", "http://google.co.jp")
          %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-mypage
            #mypage
              - if user_signed_in?
                = image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",size: '32x32',class: "mypage-image"
                -# = link_to("マイページ", "http://18.179.104.79/users/mypage")
                = link_to("マイページ", "http://localhost:3000/users/mypage")
                -# ログインユーザー： #{current_user.email}
                -# \#{link_to 'アカウント変更', edit_user_registration_path}
                \#{link_to "ログアウト", destroy_user_session_path}
              - else
                = link_to "新規作成", new_user_registration_path
                = link_to "ログイン", new_user_session_path
              