= render 'header'

.TopPageMovingImage
  = link_to(image_tag('https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg', size: '1440x390', border: 0), 'http://www.yahoo.co.jp', popup: true)
.PopularCategory
  人気のカテゴリー
  %ul.PopularCategory__CategoryTags
    %li#ladies.tags レディース
    %li#mens.tags メンズ
    %li#elec.tags 家電・スマホ・カメラ
    %li#hobby.tags おもちゃ・ホビー・グッズ
.ContentsWrap
  .ContentsWrap__NewItemWrap
    .NewItem レディース新着アイテム
    .more もっと見る＞
  .ContentsWrap__LadiesNewItem
    - @ladiesimages.zip(@ladies).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  .new-item-wrap
    %p.NewItem メンズ新着アイテム
  .ContentsWrap__LadiesNewItem
    - @mensimages.zip(@mens).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  %p.NewItem 家電・スマホ・カメラ新着アイテム
  .ContentsWrap__LadiesNewItem
    - @elecimages.zip(@elecs).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  %p.NewItem おもちゃ・ホビー・グッズ新着アイテム
  .ContentsWrap__LadiesNewItem
    - @hobbyimages.zip(@hobbies).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name

#popular-brand
  人気のブランド
  %ul#brand-category-tags.PopularCategory__CategoryTags
    %li#chanel.tags シャネル
    %li#louis.tags ルイヴィトン
    %li#supreme.tags シュプリーム
    %li#nike.tags ナイキ

.ContentsWrap
  %p.NewItem シャネル新着アイテム
  .ContentsWrap__LadiesNewItem
    - @chanelimages.zip(@chanels).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  %p.NewItem ルイヴィトン新着アイテム
  .ContentsWrap__LadiesNewItem
    - @vuittonimages.zip(@vuittons).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  %p.NewItem シュプリーム新着アイテム
  .ContentsWrap__LadiesNewItem
    - @supremeimages.zip(@supremes).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
  %p.NewItem ナイキ新着アイテム
  .ContentsWrap__LadiesNewItem
    - @nikeimages.zip(@nikes).each do |image, product|
      .item-image
        = link_to main_path(product) do
          %div
            .image-text
              = image_tag image.image, size: "180x180", class: "example-image"
              %p 
                = "¥#{product.value}"
              %figcaption 
                = product.name
            
= render 'footer'