  %header
    .HeaderContents
      .HeaderContents-HeaderTopSide
        .HeaderContents-HeaderTopSide--TopLogo
        = link_to(image_tag('merukari-header-logo.svg', size: '136x36', border: 0), 'http://www.yahoo.co.jp', popup: true)

          
        .HeaderContents-HeaderTopSide--form
          %form.HeaderContents-HeaderTopSide--form1{action: "自分のサイトURL", method: "get"}
            %input.HeaderContents-HeaderTopSide--box1{name: " ", placeholder: "何かお探しですか？", type: "text"}/
            %button.btn{type: "submit"}
              %i.fas.fa-search


              
      .HeaderContentsHeaderBottomSide
        .HeaderContentsHeaderBottomSide-BottomLeft
          .HeaderContentsHeaderBottomSide-BottomLeft__category
            %i.fas.fa-list-ul.my-red
            = link_to("カテゴリーから探す", "http://google.co.jp")
          .HeaderContentsHeaderBottomSide-BottomLeft__brand
            %i.fas.fa-tags.my-red
            = link_to("ブランドから探す", "http://google.co.jp")
        .HeaderContentsHeaderBottomSide-BottomRight
          %ul.HeaderContentsHeaderBottomSide-BottomRight__UserContents
            %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-like
              %i.far.fa-heart
              = link_to("いいね一覧", "http://google.co.jp")
            %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-news
              %i.far.fa-bell
              = link_to("お知らせ", "http://google.co.jp")
            %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-todo
              %i.fas.fa-check
              = link_to("やることリスト", "http://google.co.jp")
            %li.HeaderContentsHeaderBottomSide-BottomRight__UserContents-mypage
              = image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",size: '32x32',class: "mypage-image"
              %p#mypage
                = link_to("マイページ", "http://google.co.jp")


  .TopPageMovingImage
    = link_to(image_tag('https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg', size: '1440x390', border: 0), 'http://www.yahoo.co.jp', popup: true)
  .PopularCategory
    人気のカテゴリー
    %ul.PopularCategory__CategoryTags
      %li#ladies.tags レディース
      %li#mens.tags メンズ
      %li#elec.tags 家電・スマホ・カメラ
      %li#hobby.tags おもちゃ・ホビー・グッズ
  .ContentsWrap
    .ContentsWrap__NewItemWrap
      .NewItem レディース新着アイテム
      .more もっと見る＞
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .new-item-wrap
      %p.NewItem メンズ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem 家電・スマホ・カメラ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem おもちゃ・ホビー・グッズ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme

  #popular-brand
    人気のブランド
    %ul#brand-category-tags.PopularCategory__CategoryTags
      %li#chanel.tags シャネル
      %li#louis.tags ルイヴィトン
      %li#supreme.tags シュプリーム
      %li#nike.tags ナイキ

  .ContentsWrap
    %p.NewItem シャネル新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem ルイヴィトン新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem シュプリーム新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem ナイキ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p 18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        = link_to ("https://ja-jp.facebook.com/") do 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme

  .CameraMark
    = link_to ("https://twitter.com/") do
      .CameraMark-shuppin.my-white
        出品
      .CameraMark-camera-image
        %i.fas.fa-camera.my-white.fa-4x

  .aside
    .aside-contents
      .aside-contents-BackgroundText
        .aside-contents-BackgroundText__text1
          スマホでかんたんフリマアプリ
        .aside-contents-BackgroundText__text2
          今すぐ無料ダウンロード！
        .aside-contents-BackgroundText__LeftDlContents
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: '68x68',class: "dl-content"
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size: '144x40',class: "dl-content"
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size: '144x40',class: "dl-content"
      
      .aside-contents__RightImage
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size: '300x260',class: "image"

  %footer.TopPage
    .footer-nav
      .footer-nav-NavLeft
        %h2 メルカリについて
        %ul.BottomList
          %li
            会社概要（運営会社）
          %li
            採用情報
          %li 
            プレスリリース
          %li 
            公式ブログ
          %li 
            メルカリロゴ利用ガイドライン
        .footer-nav-NavLeft-SnsLogo
          .footer-nav-NavLeft-SnsLogo--twitter
          = link_to ("https://twitter.com/") do
            %i.fab.fa-twitter-square.my-white.fa-2x
          .footer-nav-NavLeft-SnsLogo--facebook
          = link_to ("https://ja-jp.facebook.com/") do
            %i.fab.fa-facebook-square.my-white.fa-2x
      .footer-nav-NavRight
        %h2 ヘルプ&ガイド
        %ul.BottomList
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .footer-nav-NavBottom
        %h2 プライバシーと利用規約
        %ul.BottomList
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li あんしんスマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
      .footer-nav-Navlist
        %ul.BottomList
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
      .footer-nav-Navbottom2
        %h2#country 国
        %ul.BottomList
          %li 日本
          %li United States

    .footer-nav--Botlogo
      = link_to(image_tag('merukari-bottom-logo.svg', size: '124x33', border: 0), 'http://www.yahoo.co.jp', popup: true)

      %p.footer-nav--Botlogo__Coop © 2019 Mercari