!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title メルカリ スマホでかんたん フリマアプリ
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.2/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
    

    
  %body
  .TopPageMovingImage
    = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg",size: '1440x390',class: "example-image"
  .PopularCategory
    人気のカテゴリー
    %ul.PopularCategory__CategoryTags
      %li#ladies.tags レディース
      %li#mens.tags メンズ
      %li#elec.tags 家電・スマホ・カメラ
      %li#hobby.tags おもちゃ・ホビー・グッズ
  .ContentsWrap
    .ContentsWrap__NewItemWrap
      .NewItem レディース新着アイテム
      .more もっと見る＞
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .new-item-wrap
      %p.NewItem メンズ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem 家電・スマホ・カメラ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem おもちゃ・ホビー・グッズ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme

  #popular-brand
    人気のブランド
    %ul#brand-category-tags.PopularCategory__CategoryTags
      %li#chanel.tags シャネル
      %li#louis.tags ルイヴィトン
      %li#supreme.tags シュプリーム
      %li#nike.tags ナイキ

  .ContentsWrap
    %p.NewItem シャネル新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem ルイヴィトン新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem シュプリーム新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    %p.NewItem ナイキ新着アイテム
    .ContentsWrap__LadiesNewItem
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p 18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
    .item-bottom
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme
      .item-image
        %a.item-link{href: "#"} 
          %div
            .image-text
              = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
              %p ¥18,000
              %figcaption supreme