= render 'header'
.show-page
  %section.item-box-outer
    .item-name
      クルマ
    .item-main-box
      .item-image-box
        .item-image
          -# =image_tag 'vw.jpeg'
      %table.item-deta-outer
        %tbody
          %tr.item-deta-box
            %th.item-deta-box_title
              出品者
            %td.item-deta-box_cell
              %a.sell-name.blue-text
                test
              .face-box
                .face-box_good.clear-text
                  %a=image_tag 'grin-solid.svg',width:16,height:16
                  
                  %span.good-value
                    666
                .face-box_normal.clear-text
                  %a=image_tag 'meh-solid.svg',width:16,height:16
                  %span.normal-value
                    5
                .face-box_bad.clear-text
                  %a=image_tag 'frown-solid.svg',width:16,height:16
                  %span.bad-value
                    55
            -# exhibitor
          %tr.item-deta-box
            %th.item-deta-box_title
              カテゴリー
            %td.item-deta-box_cell
              %a.item-main-categly.blue-text.clear-text
                自動車
              .item-sub-categly
                %a.blue-text.clear-text
                  %i.fa.fa-angle-right.icon-size{"aria-hidden" => "true"}
                  ドイツ車
              .item-sub-categly
                %a.blue-text.clear-text
                  %i.fa.fa-angle-right.icon-size{"aria-hidden" => "true"}
                  VW

            -# categoly
          %tr.item-deta-box  
            %th.item-deta-box_title
              ブランド
            %td.item-deta-box_cell
              %a.blue-text.clear-text
                VW
            -# brand
          %tr.item-deta-box  
            %th.item-deta-box_title
              商品のサイズ
            %td.item-deta-box_cell
              L
            -# size
          %tr.item-deta-box  
            %th.item-deta-box_title
              商品の状態
            %td.item-deta-box_cell
              目立った傷や汚れなし
            -# condition
          %tr.item-deta-box  
            %th.item-deta-box_title
              配送料の負担
            %td.item-deta-box_cell
              送料込み(出品者負担)
            -# charge
          %tr.item-deta-box  
            %th.item-deta-box_title
              配送の方法
            %td.item-deta-box_cell
              らくらくメルカリ便
            -# method
          %tr.item-deta-box 
            %th.item-deta-box_title
              配送元地域
            %td.item-deta-box_cell.blue-text
              %a.blue-text.clear-text
                兵庫県
            -# area
          %tr.item-deta-box 
            %th.item-deta-box_title
              配送日の目安
            %td.item-deta-box_cell
              2~3日で発送
            -# Indication
    .item-place-box
      %span.item-place
        ¥5,000,000
      %span.item-tax
        (税込)
      %span.item-shopping-fee
        送料込み
      .item-purchase-box
        %a.item-purchase-box_btn
          購入画面に進む
       
    .item-text-box
      %p.item-text
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    .item-under-box
      .left-box-like
        .left-box-like_icon
          %i.fa.fa-heart-o.heart-icon
        .left-box-like_text
          %span
            いいね!
        .left-box-like_value
          %span
            2
      .left-box-report
        .left-box-report_icon
          %i.fa.fa-flag-o
        .left-box-report_text
          %span
            不適切な商品の報告
      .safety-btn-box
        %i.material-icons.lock-icon
          lock
          %span.safety-btn-box_text.clear-text
            あんしん・あんぜんへの取り組み


  .comment-box_outer
    .comment-box
      .comment-box_message
        %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.comment-box_form
      .comment-box_btn
        %span.btn-text
        コメントする     

  %ul.link-box
    %li.link-box_left
      %a.clear-text
        .link-icon
          %i.fa.fa-angle-left.icon-size{"aria-hidden" => "true"}

        .link-text
          バイク
    %li.link-box_right
      %a.clear-text
        .link-text
          舟
        .link-icon
          %i.fa.fa-angle-right.icon-size{"aria-hidden" => "true"}



  .item-social-media
    .text-center
    %ul.item-social-media-box
      %li.item-social-media-box_icon.clear-text
        %i.fa.fa-facebook-square.icon-facebook{"aria-hidden" => "true"}
      %li.item-social-media-box_icon.clear-text
        %i.fa.fa-twitter.icon-twitter{"aria-hidden" => "true"}
      %li.item-social-media-box_icon.clear-text
        %i.fa.fa-pinterest.icon-pinterest{"aria-hidden" => "true"}
  -# .item-sub-box
  -#   .item-sub-title
  -#   .item-sub-box_container
  -#     .item-box
  -# .item-sub-box
  -#   .item-sub-title
  -#   .item-sub-box_container
  -#     .item-box

  .example-item-box
    .example-item-box_title.blue-text
      iiiiiiiiiiiiiiiiのその他の商品
      .example-item-box_flex
        .example-item-box_content
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333
        .example-item-box_content            
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333
        .example-item-box_content
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333
      .example-item-box_flex
        .example-item-box_content
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333
        .example-item-box_content            
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333
        .example-item-box_content
          .item_content
            = link_to ("https://ja-jp.facebook.com/") do 
              %div
                .example-item-image
                  = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
              .example-item-text-box
                %p.font-text
                  ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                  .example-item-text-box_place
                  %p.font-place
                    ¥33333333333

      .example-item-box_title.blue-text
        iiiiiiiiiiiiiiiiのその他の商品
        .example-item-box_flex
          .example-item-box_content
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
          .example-item-box_content            
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
          .example-item-box_content
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
        .example-item-box_flex.margin-bottom
          .example-item-box_content
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
          .example-item-box_content            
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
          .example-item-box_content
            .item_content
              = link_to ("https://ja-jp.facebook.com/") do 
                %div
                  .example-item-image
                    = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",class: "example-image"
                .example-item-text-box
                  %p.font-text
                    ttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeee
                    .example-item-text-box_place
                    %p.font-place
                      ¥33333333333
  .under-box
    %ul
      %li.under-box_content
        メルカリ
      %li.under-box_content
        %i.fa.fa-angle-right.angle-icon-color{"aria-hidden" => "true"}
      %li.under-box_content
        VW



        


  

-# .item-image
-#   = link_to ("https://ja-jp.facebook.com/") do 
-#     %div
-#       .image-text
-#         = image_tag src="https://static.mercdn.net/thumb/photos/m69790812477_1.jpg?1571538899",size: '180x180',class: "example-image"
-#         %p ¥18,000
-#         %figcaption supreme
= render 'footer'



    

