.sid-ber
  .nav
    %ul.nav--list
      %a{href:"http://localhost:3000/users/mypage"}
        %li.art
          = fa_icon 'chevron-right'
          マイページ
      %a{href:"http://localhost:3000/users/mypage/notice"}
        %li.art
          = fa_icon 'chevron-right'
          お知らせ
      %a{href:"http://localhost:3000/users/mypage/to_do"}
        %li.art
          = fa_icon 'chevron-right'
          やることリスト
      %a{href:"http://localhost:3000/users/mypage/nice"}
        %li.art
          = fa_icon 'chevron-right'
          いいね！一覧
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          出品する
      %a{href:"http://localhost:3000/users/mypage/selling"}
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー出品中
      %a{href:"http://localhost:3000/users/mypage/transacting"}
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー取引中
      %a{href:"http://localhost:3000/users/mypage/sold"}
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー売却済み
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー取引中
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー過去の取引
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          ニュース一覧
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          評価一覧
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          ガイド
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          問い合わせ

    %h3
      メルペイ
    %ul.nav--list
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          売上・振込申請
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          ポイント

    %h3
      設定
    %ul.nav--list
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          プロフィール
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          発送元・お届け先住居変更
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          支払い方法
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          メール/パスワード
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          本人情報
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          電話番号の確認
      %a{href:"https://master.tech-camp.in/"}
        %li.art
          = fa_icon 'chevron-right'
          ログアウト