.sid-ber
  .nav
    %ul.nav--list
      = link_to "http://localhost:3000/users/mypage" do
        %li.art
          = fa_icon 'chevron-right'
          マイページ
      = link_to "http://localhost:3000/users/mypage/notice" do
        %li.art
          = fa_icon 'chevron-right'
          お知らせ
      = link_to "http://localhost:3000/users/mypage/to_do" do
        %li.art
          = fa_icon 'chevron-right'
          やることリスト
      = link_to "http://localhost:3000/users/mypage/nice" do
        %li.art
          = fa_icon 'chevron-right'
          いいね！一覧
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          出品する
      = link_to "http://localhost:3000/users/mypage/selling" do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー出品中
      = link_to "http://localhost:3000/users/mypage/transacting" do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー取引中
      = link_to "http://localhost:3000/users/mypage/sold" do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー売却済み
      = link_to "http://localhost:3000/users/mypage/buy_products/transacting" do
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー取引中
      = link_to "http://localhost:3000/users/mypage/buy_products/transacted" do
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー過去の取引
      = link_to "http://localhost:3000/users/mypage/news" do
        %li.art
          = fa_icon 'chevron-right'
          ニュース一覧
      = link_to "http://localhost:3000/users/mypage/reviews" do
        %li.art
          = fa_icon 'chevron-right'
          評価一覧
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          ガイド
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          問い合わせ

    %h3
      メルペイ
    %ul.nav--list
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          売上・振込申請
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          ポイント

    %h3
      設定
    %ul.nav--list
      = link_to "http://18.179.104.79/users/mypage/profile" do
        %li.art
          = fa_icon 'chevron-right'
          プロフィール
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          発送元・お届け先住居変更
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          支払い方法
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          メール/パスワード
      = link_to "http://localhost:3000/users/mypage/identification" do
        %li.art
          = fa_icon 'chevron-right'
          本人情報
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          電話番号の確認
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          ログアウト