.sid-ber
  .nav
    %ul.nav--list
      = link_to users_mypage_path do
        %li.art
          = fa_icon 'chevron-right'
          マイページ
      = link_to users_mypage_notice_path do
        %li.art
          = fa_icon 'chevron-right'
          お知らせ
      = link_to users_mypage_to_do_path do
        %li.art
          = fa_icon 'chevron-right'
          やることリスト
      = link_to users_mypage_nice_path do
        %li.art
          = fa_icon 'chevron-right'
          いいね！一覧
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          出品する
      = link_to users_mypage_selling_path do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー出品中
      = link_to users_mypage_transacting_path do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー取引中
      = link_to users_mypage_sold_path do
        %li.art
          = fa_icon 'chevron-right'
          出品した商品ー売却済み
      = link_to users_mypage_buy_products_transacting_path do
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー取引中
      = link_to users_mypage_buy_products_transacted_path do
        %li.art
          = fa_icon 'chevron-right'
          購入した商品ー過去の取引
      = link_to users_mypage_news_path do
        %li.art
          = fa_icon 'chevron-right'
          ニュース一覧
      = link_to users_mypage_reviews_path do
        %li.art
          = fa_icon 'chevron-right'
          評価一覧
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          ガイド
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          問い合わせ

    %h3
      メルペイ
    %ul.nav--list
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          売上・振込申請
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          ポイント

    %h3
      設定
    %ul.nav--list
      = link_to users_mypage_profile_path do
        %li.art
          = fa_icon 'chevron-right'
          プロフィール
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          発送元・お届け先住居変更
      = link_to users_mypage_card_path do
        %li.art
          = fa_icon 'chevron-right'
          支払い方法
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          メール/パスワード
      = link_to users_mypage_identification_path do
        %li.art
          = fa_icon 'chevron-right'
          本人情報
      = link_to "https://master.tech-camp.in/" do
        %li.art
          = fa_icon 'chevron-right'
          電話番号の確認
      = link_to logout_path do
        %li.art
          = fa_icon 'chevron-right'
          ログアウト