= render 'main/header'
            
.LogoutHeader
  #breadcrumbLogout
    - breadcrumb :logout
    = breadcrumbs pretext: "",separator: " &rsaquo; "
.SideBarWrap
  = render 'sidber'

.LogoutBlock
  .LogoutBlock--LogoutBtn
  = link_to ("https://ja-jp.facebook.com/") do 
    %button.btn-default.btn-red{type: "submit"} ログアウト
  
= render 'main/footer'