!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{rel: "stylesheets", href: "reset.scss"}
    %meta{rel: "stylesheets", href: "font-awesome.scss"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{src:"/assets/show.js"}
  %body
    .whole
      .container
        .main
          .main__user_icon
            %figure
              %img{src:"/assets/member_photo_noimage_thumb.png"}
            %h2.main__user_icon--name
              user
            .main__user_icon--number
              %div
                評価
                %span.num
                  0
              %div
                出品数
                %span.num
                  0
          %ul.main__user_tabs
            %li.main__user_tabs--menu.active
              %h3
                お知らせ
            %li.main__user_tabs--menu
              %h3
                やることリスト
          %ul.contents
            %li.contents__mainlist.show
              %ul
                %li
                  %img{src: "/assets/mercari_profile.png"}
                  .main__contents--box
                    %p
                      事務所から個別メッセージ「ログイン通知」
                    %time
                      = fa_icon 'clock'
                      30分前
                %li
                  %img{src: "/assets/mercari_profile.png"}
                  .main__contents--box
                    %p
                      ３日後、P999還元クーポンの有効期限が切れます！タップして詳細を確認しましょう
                    = fa_icon 'clock'
                    %time
                      １時間前
                %li
                  %img{src: "/assets/mercari_profile.png"}
                  .main__contents--box
                    .main__contents--box-text
                      《ご登録記念》¥1000の商品を「実質１円」でご購入いただけます！
                    = fa_icon 'clock'
                    %time
                      １日前
            %li.contents__mainlist
              %ul
                %li
                  %img{src: "/assets/mercari_profile.png"}
                  .main__contents--box
                    .main__contents--box-text
                      ご登録のメールアドレスに認証メールを送ろました。メールに記載のURLをクリックして、メールアドレスを認証してください
                    = fa_icon 'clock'
                    %time
                      １日前
        
        = render partial: 'sidber'