%head
%body.sign_up3
  .header2.sign_up3
    .h-top
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195",alt:"mercari"), "https://master.tech-camp.in/"
    .h-buttom
      %ul
        .dankai-box
          %li
            %font.red 会員情報
            %font.red 
              .maru1 ●
            .box
              %hr.red 
        .dankai-box
          %li
            %font.red 電話番号認証
            %font.red 
              .maru1 ●
            .box
              %hr.red 
        .dankai-box
          %li
            %font.red 住所入力
            %font.red 
              .maru1 ●
            .box
              %hr.gray 
        .dankai-box
          %li
            %font.gray 支払い方法
            %font.gray 
              .maru1 ●
            .box
              %hr.gray 
        .dankai-box
          %li
            %font.gray 完了
            %font.gray 
              .maru1 ●
  
  .main1.to-sign_up3
    .main1__toptext
      住所入力
    .main1__buttomtext
      = form_for @address, url:sign_up_payment_users_path, method: :get do |f|
        .field
          .field-input
            .label2
              .field-input__label
                = f.label :name_kanji,"お名前"
              .required-box 必須
            .field-input__text
              = f.text_field :name_kanji, placeholder: '例）山田',size:30
            .field-input__text
              = f.text_field :name_kanji, placeholder: '例）花子',size:30
          .field-input
            .label2
              .field-input__label
                = f.label :name_kana,"お名前カナ"
              .required-box 必須
            .field-input__text
              = f.text_field :name_kana, autofocus: true,placeholder: '例）ヤマダ' ,size:30
            .field-input__text
              = f.text_field :name_kana, autofocus: true,placeholder: '例）ハナコ' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :postal_cord,"郵便番号"
              .required-box 必須
            .field-input__text
              = f.text_field :postal_cord, autofocus: true,placeholder: '例）123-4567' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :prefectures,"都道府県"
              .required-box 必須
            .field-input__text
              = f.text_field :prefectures, autofocus: true,placeholder: '例）愛知県' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :municipalities,"市町村"
              .required-box 必須
            .field-input__text
              = f.text_field :municipalities, autofocus: true,placeholder: '例）名古屋市' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :house_number,"番地"
              .required-box 必須
            .field-input__text
              = f.text_field :house_number, autofocus: true,placeholder: '例）１番地' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :building_name,"建物名"
              .required-box 必須
            .field-input__text
              = f.text_field :building_name, autofocus: true,placeholder: '例）名古屋タワー' ,size:30
          .field-input
            .label2
              .field-input__label
                = f.label :phone_number,"電話番号"
              .required-box 必須
            .field-input__text
              = f.text_field :phone_number, autofocus: true,placeholder: '例)08012345678' ,size:30
          .actions
            = f.submit "次に進む", class: 'btn1'
  .footer.gray
    %ul
      %li
        = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      %li
        = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      %li
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    %br
    %br
    = link_to image_tag("/assets/logo-gray.svg"), "https://www.mercari.com/jp/",{class:"single-footer-logo"}
    .footer__bottom
      %p © 2019 Mercari