!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css"}
    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
  %body
    = render partial: 'main/header'
    .whole
      .container
        #breadcrumb
          - breadcrumb :sold
          = breadcrumbs pretext: "",separator: " &rsaquo; "
        .main_box
          .sold_product
            .sold_product__title
              %h2
                出品した商品
            %ul.sold_product__tabs
              = link_to "http://localhost:3000/users/mypage/selling" do
                %li.sold_product__tabs--menu
                  %h3
                    出品中
              = link_to "http://localhost:3000/users/mypage/transacting" do
                %li.sold_product__tabs--menu
                  %h3
                    取引中
              = link_to "http://localhost:3000/users/mypage/sold" do
                %li.sold_product__tabs--menu.active2
                  %h3
                    売却済み
                  
            %ul.contents2
              %li.contents2__mainlist2.show2
                %ul
                  %li
                    .massage--box14
                      .bgcolor-box14
                      %p
                        取引中の商品はありません

        = render partial: 'sidber'

    = render partial: 'main/footer'