!!!
%html
  %head
    %title FreemarketSample56NightB
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
  %header
    .header-contents
      .header-top-side
        .top-logo
        %a{ href: 'http://google.co.jp', id: 'top-page-top' }
          = image_tag src="/assets/merukari-header-logo.svg",size: '134x36'

        .form
          %form{action: "#", method: "post"}
            .textarea-wrap
              %input{style: "width:840px;height:36px;", type: "text",placeholder: "何かお探しですか？"}/
              %input.btn{type: "submit", value: ""}/
              %i.fas.fa-search

              
      .header-bottom-side
        .bottom-left
          .category
          %a{href: "#"} 
            %i.fas.fa-list-ul.my-red
            カテゴリーから探す
          .brand
          %a{href: "#"} 
            %i.fas.fa-tags.my-red
            ブランドから探す
        .bottom-right
          %ul.user-contents
            %li.like
            %a{href: "#"} 
              %i.far.fa-heart
              いいね！一覧
            %li.news
            %a{href: "#"} 
              %i.far.fa-bell
              お知らせ
            %li.todo
            %a{href: "#"} 
              %i.fas.fa-check
              やることリスト
            %li.mypage
            %a{href: "#"} 
              = image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",size: '32x32',class: "mypage-image"
              %p#mypage マイページ

    = yield

  .camera-mark
    %a{href: "#"}
      .shuppin.my-white
        出品
      .camera-image
        %i.fas.fa-camera.my-white.fa-4x

  .aside
    .aside-contents
      .background-text
        .background-text1
          スマホでかんたんフリマアプリ
        .background-text2
          今すぐ無料ダウンロード！
        .left-dl-contents
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: '68x68',class: "dl-content"
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size: '144x40',class: "dl-content"
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size: '144x40',class: "dl-content"
      
      .right-image
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size: '300x260',class: "image"
  %footer
    .nav
      .nav-left
        %h2 メルカリについて
        %ul.bottom-list
          %li
          %a{href: "#"}
            会社概要（運営会社）
          %li
          %a{href: "#"}
            採用情報
          %li 
          %a{href: "#"}
            プレスリリース
          %li 
          %a{href: "#"}
            公式ブログ
          %li 
          %a{href: "#"}
            メルカリロゴ利用ガイドライン
        .sns-logo
          .twitter
          %a{href: "#"}
            %i.fab.fa-twitter-square.my-white.fa-2x
          .facebook
          %a{href: "#"}
            %i.fab.fa-facebook-square.my-white.fa-2x
      .nav-right
        %h2 ヘルプ&ガイド
        %ul.bottom-list
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .nav-bottom
        %h2 プライバシーと利用規約
        %ul.bottom-list
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li あんしんスマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
      .nav-list
        %ul.bottom-list
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
      .nav-bottom2
        %h2 国
        %ul.bottom-list
          %li 日本
          %li United States

    .bot-logo
      = image_tag src="/assets/merukari-bottom-logo.svg",size: '124x33'
      %a{ href: 'http://google.co.jp', id: 'top-page-top' }

      %p.coop © 2019 Mercari